In [1]:
import pandas as pd
import requests

In [2]:
df = pd.read_csv("../data/finalized_data/metadata_with_screenplay_subtitles.csv", dtype=str)
# df_lang = pd.read_csv("../data/finalized_data/all_metadata_finalized_withlanguage.csv")

In [4]:
df.shape

(3265, 10)

In [6]:
import requests
import os
from dotenv import load_dotenv
import json

In [ ]:
import requests
import os
from dotenv import load_dotenv

load_dotenv()

tmdb_ids = []

counter = 0
for imdb_id in df['imdb_id']:
    counter += 1
    print(counter, imdb_id)
    url = f"https://api.themoviedb.org/3/find/tt{imdb_id}?external_source=imdb_id"

    headers = {
        "accept": "application/json",
        "Authorization": f"Bearer {os.getenv('TMDB_TOKEN')}"
    }

    response = requests.get(url, headers=headers)

    tmdb_ids.append(response.json())

In [13]:
import json

with open("tmdb_data.json", "w") as f:
    f.write(json.dumps(tmdb_ids))

In [14]:
tmdb_ids[0]

{'movie_results': [{'backdrop_path': '/lntyt4OVDbcxA1l7LtwITbrD3FI.jpg',
   'id': 1010581,
   'title': 'My Fault',
   'original_title': 'Culpa m√≠a',
   'overview': "Noah must leave her city, boyfriend, and friends to move into William Leister's mansion, the flashy and wealthy husband of her mother Rafaela. As a proud and independent 17 year old, Noah resists living in a mansion surrounded by luxury. However, it is there where she meets Nick, her new stepbrother, and the clash of their strong personalities becomes evident from the very beginning.",
   'poster_path': '/w46Vw536HwNnEzOa7J24YH9DPRS.jpg',
   'media_type': 'movie',
   'adult': False,
   'original_language': 'es',
   'genre_ids': [18, 10749],
   'popularity': 335.237,
   'release_date': '2023-06-08',
   'video': False,
   'vote_average': 7.939,
   'vote_count': 2898}],
 'person_results': [],
 'tv_results': [],
 'tv_episode_results': [],
 'tv_season_results': []}

In [22]:
tmdb_id_numbers = []
tmdb_id_lang = []

for movie in tmdb_ids:
    try:
        tmdb_id = movie['movie_results'][0]['id']
    except:
        tmdb_id = None
    
    try:
        lang = movie['movie_results'][0]['original_language']
    except:
        lang = None

    tmdb_id_numbers.append(tmdb_id)
    tmdb_id_lang.append(lang)

In [23]:
tmdb_col = pd.Series(tmdb_id_numbers)
lang_col = pd.Series(tmdb_id_lang)

In [24]:
df['tmdb_id'] = tmdb_col
df['original_language'] = lang_col

In [25]:
df['tmdb_id'].isnull().sum()

44

In [26]:
df['original_language'].isnull().sum()

44

In [27]:
df.head()

,title,imdb_id,file,dir,synopsis,year,link,screenplay,sp_file,subtitle,tmdb_id,original_language
0,My Fault,21909764,0_My_Fault,com,"Noah must leave her town, boyfriend and friend...",2023.0,/My-Fault-Nicole-Wallace/dp/B0B683GB78/ref=sr_...,False,NaN,SDH_EN,1010581.0,es
1,On The Trail of UFOS: Dark Sky,14928972,1000_On_The_Trail_of_UFOS_Dark_Sky,com,On the Trail of UFOs: Dark Sky traces decades ...,2021.0,/Trail-UFOS-Dark-Sky/dp/B09BKF2WGQ/ref=sr_1_24...,False,NaN,SDH,853703.0,en
2,Student Of The Year,2172071,1001_Student_Of_The_Year,com,"Introducing Alia Bhatt (Sharanya Singhania), S...",2012.0,/Student-Year-Sidharth-Malhotra/dp/B0BZTD87WK/...,False,NaN,EN,138122.0,hi
3,"The Badge, The Bible and Bigfoot",11208026,1005_The_Badge_The_Bible_and_Bigfoot,com,"In a small coastal town Bigfoot is sighted, an...",2019.0,/Badge-Bible-Bigfoot-Ashley-Wright/dp/B09JMYV8...,False,NaN,SDH,690499.0,en
4,Sharknado 5: Global Swarming,6298780,1009_Sharknado_5_Global_Swarming,com,"With much of North America lying in ruins, the...",2017.0,/Sharknado-Global-Swarming-Ian-Ziering/dp/B07M...,False,NaN,SDH,438970.0,en

Get country origin

In [ ]:
tmdb_detail_info = []

counter = 0
for id in df['tmdb_id']:
    counter += 1
    print(counter, id)
    if id is None: tmdb_detail_info.append(None); continue
    
    url = f"https://api.themoviedb.org/3/movie/{id}"

    headers = {
        "accept": "application/json",
        "Authorization": f"Bearer {os.getenv('TMDB_TOKEN')}"
    }

    response = requests.get(url, headers=headers)

    tmdb_detail_info.append(response.json())

In [43]:
import json

with open("tmdb_detailed_data.json", "w") as f:
    f.write(json.dumps(tmdb_detail_info))

In [44]:
tmdb_id_country = []

for movie in tmdb_detail_info:
    try:
        country = movie['origin_country'][0]
    except:
        country = None

    tmdb_id_country.append(country)

In [45]:
len(tmdb_id_country)

3265

In [46]:
tmdb_country = pd.Series(tmdb_id_country)

In [47]:
df['origin_country'] = tmdb_country

In [49]:
df['origin_country'].isnull().sum()

44

In [51]:
df.head()

,title,imdb_id,file,dir,synopsis,year,link,screenplay,sp_file,subtitle,tmdb_id,original_language,origin_country
0,My Fault,21909764,0_My_Fault,com,"Noah must leave her town, boyfriend and friend...",2023.0,/My-Fault-Nicole-Wallace/dp/B0B683GB78/ref=sr_...,False,NaN,SDH_EN,1010581.0,es,ES
1,On The Trail of UFOS: Dark Sky,14928972,1000_On_The_Trail_of_UFOS_Dark_Sky,com,On the Trail of UFOs: Dark Sky traces decades ...,2021.0,/Trail-UFOS-Dark-Sky/dp/B09BKF2WGQ/ref=sr_1_24...,False,NaN,SDH,853703.0,en,US
2,Student Of The Year,2172071,1001_Student_Of_The_Year,com,"Introducing Alia Bhatt (Sharanya Singhania), S...",2012.0,/Student-Year-Sidharth-Malhotra/dp/B0BZTD87WK/...,False,NaN,EN,138122.0,hi,IN
3,"The Badge, The Bible and Bigfoot",11208026,1005_The_Badge_The_Bible_and_Bigfoot,com,"In a small coastal town Bigfoot is sighted, an...",2019.0,/Badge-Bible-Bigfoot-Ashley-Wright/dp/B09JMYV8...,False,NaN,SDH,690499.0,en,US
4,Sharknado 5: Global Swarming,6298780,1009_Sharknado_5_Global_Swarming,com,"With much of North America lying in ruins, the...",2017.0,/Sharknado-Global-Swarming-Ian-Ziering/dp/B07M...,False,NaN,SDH,438970.0,en,US

In [52]:
df.to_csv("../data/finalized_data/metadata_with_screenplay_subtitles_tmdb.csv", index=False)