### Get Support Crew

This notebook gathers the support crew for all the movies.

In [1]:
!pip install cinemagoer

Collecting cinemagoer
  Downloading cinemagoer-2023.5.1-py3-none-any.whl (297 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 297.2/297.2 kB 2.5 MB/s eta 0:00:00
Requirement already satisfied: SQLAlchemy in /usr/local/lib/python3.10/dist-packages (from cinemagoer) (2.0.23)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (from cinemagoer) (4.9.3)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy->cinemagoer) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy->cinemagoer) (3.0.2)
Installing collected packages: cinemagoer
Successfully installed cinemagoer-2023.5.1

In [2]:
import pandas as pd
from imdb import Cinemagoer
import json
import csv
import imdb
import os

In [3]:
ia = Cinemagoer()

In [ ]:
METADATA_DIR = "../../data/8_screenplays/2_metadata"

In [ ]:
df = pd.read_csv(f'{METADATA_DIR}/validated_movies.csv', dtype={'imdbID': str})

In [ ]:
df.shape

(1467, 86)

In [ ]:
cols = ['director', 'writer', 'producer', 'composer',
       'cinematographer', 'editor', 'editorial department', 'casting director',
       'production design', 'art direction', 'set decoration',
       'costume designer', 'make up', 'production manager',
       'assistant director', 'art department', 'sound crew', 'special effects',
       'visual effects', 'stunt performer', 'camera and electrical department',
       'casting department', 'costume department', 'location management',
       'music department', 'script department', 'transportation department',
       'miscellaneous crew', 'animation department', 'production department']

In [ ]:
fileexists = os.path.exists(f'{METADATA_DIR}/all_support_cast.csv')
mode = 'a' if fileexists else 'w'

In [ ]:
index = 0

if fileexists:
  df_temp = pd.read_csv(f'{METADATA_DIR}/all_support_cast.csv', dtype={'imdbID': str})
  index = len(df_temp['imdbID'].unique())

In [ ]:
take = ''     # for debugging

with open(f'{METADATA_DIR}/all_support_cast.csv', mode) as csvfile:
  writer = csv.writer(csvfile)
  if not fileexists: writer.writerow(['imdbID', 'role','personID', 'name'])
  for id in df['imdbID'][index:]:
    movie = ia.get_movie(id)
    rows = []

    for col in cols:

      take = movie, col
      res = movie.get(col)

      p_id = ''
      p_name = ''

      if type(res) != type(None):
        for person in res:
          if person.get('name'):
            p_name = person['name']

          if hasattr(person, 'personID'):
            if person.personID:
              p_id = person.personID
              rows.append([id, col, p_id, p_name])
          else:
            rows.append([id, col, p_id, p_name])
      else:
        rows.append([id, col, p_id, p_name])

    writer.writerows(rows)

In [ ]:
df = pd.read_csv(f'{METADATA_DIR}/all_support_cast.csv', dtype={'imdbID': str, 'personID': str})

In [ ]:
df

         imdbID                   role personID                 name
0       0417385               director  0191147       Michael Cuesta
1       0417385                 writer  1072713     Anthony Cipriano
2       0417385               producer  0068081           Brian Bell
3       0417385               producer  0191147       Michael Cuesta
4       0417385               producer  1707603          Mike Downey
...         ...                    ...      ...                  ...
606788  1340800     miscellaneous crew  4620631         Emma Sturgis
606789  1340800     miscellaneous crew  3019567  John William Turner
606790  1340800     miscellaneous crew  5205398       Victoria Zalin
606791  1340800   animation department      NaN                  NaN
606792  1340800  production department      NaN                  NaN

[606793 rows x 4 columns]

In [ ]:
len(df['imdbID'].unique())

1467

In [ ]:
clean_1 = df[~df['personID'].isnull()]

In [ ]:
clean_2 = clean_1[~clean_1.duplicated()]

In [ ]:
clean_2.to_csv(f'{METADATA_DIR}/clean_all_support_cast.csv', index=False)