### Check mismtached "Playback Resources" (metadata) of movies.

There are cases where the Playback Resources file is duplicated for different movies because of network issues. We inspect such cases in this notebook.

In [1]:
import pandas as pd

In [2]:
METADATA_DIR = "../../data/6_character_metadata/"

In [3]:
df = pd.read_csv(f"{METADATA_DIR}/final_validated_metadata.csv", dtype=str)

In [4]:
df.head()

,title,imdb_id,file,dir,synopsis,year,link
0,My Fault,21909764,0_My_Fault,com,"Noah must leave her town, boyfriend and friend...",2023.0,/My-Fault-Nicole-Wallace/dp/B0B683GB78/ref=sr_...
1,On The Trail of UFOS: Dark Sky,14928972,1000_On_The_Trail_of_UFOS_Dark_Sky,com,On the Trail of UFOs: Dark Sky traces decades ...,2021.0,/Trail-UFOS-Dark-Sky/dp/B09BKF2WGQ/ref=sr_1_24...
2,Student Of The Year,2172071,1001_Student_Of_The_Year,com,"Introducing Alia Bhatt (Sharanya Singhania), S...",2012.0,/Student-Year-Sidharth-Malhotra/dp/B0BZTD87WK/...
3,"The Badge, The Bible and Bigfoot",11208026,1005_The_Badge_The_Bible_and_Bigfoot,com,"In a small coastal town Bigfoot is sighted, an...",2019.0,/Badge-Bible-Bigfoot-Ashley-Wright/dp/B09JMYV8...
4,Sharknado 5: Global Swarming,6298780,1009_Sharknado_5_Global_Swarming,com,"With much of North America lying in ruins, the...",2017.0,/Sharknado-Global-Swarming-Ian-Ziering/dp/B07M...

Try to create the unique movie identifier using the procedure we followed in `2_parse_links` to see if the current identifier has a match.

In [5]:
from unidecode import unidecode

df['clean_title'] = [unidecode(text) for text in df['title']]
df['clean_title'] = df['clean_title'].str.replace("[^0-9a-zA-Z ]", "", regex=True).str.replace(" ", "_")

In [6]:
sum(~(df['clean_title'] == df['file'].str.split('_').str[1:].str.join("_")))

67

In [7]:
df[~(df['clean_title'] == df['file'].str.split('_').str[1:].str.join("_"))].to_csv("check_title_mismatch.csv", index=False)