In [24]:
import pandas as pd

In [25]:
df = pd.read_csv("all_people_gender.csv", encoding_errors='ignore')

In [26]:
df.head()

,id,person,character,movie,name_id,gender
0,/name/nm1799971/Rafaella,Marta Hazas,Rafaella,0_My_Fault,nm1799971,Actress/Soundtrack
1,/name/nm2338819/Betty,Eve Ryan,Betty,0_My_Fault,nm2338819,Actress
2,/name/nm5913850/Noah,Nicole Wallace,Noah,0_My_Fault,nm5913850,Actress
3,/name/nm1293644/Padre Noah,Ivan Massagué,Padre Noah,0_My_Fault,nm1293644,Actor/Soundtrack
4,/name/nm1107138/Martin,Mariano Venancio,Martin,0_My_Fault,nm1107138,Actor/Soundtrack

There's one entry with no name id. That's why all_people_gender_parsed has one less entry.

In [27]:
df['name_id'].isnull().sum()

1

In [28]:
df.shape

(49876, 6)

In [5]:
sum(df['gender'].isnull())

1414

In [6]:
df_sub = df[~df['gender'].isnull()]

In [7]:
df_sub.shape

(48462, 6)

In [8]:
# sanity check to see that no one is labelled as both Actor and Actress
sum(df_sub[df_sub['gender'].str.contains('Actor')]['gender'].str.contains('Actress'))

0

In [9]:
sum(df_sub['gender'].str.contains('Actor|Actress'))

47501

In [11]:
# sum(df_sub['gender'].str.contains('Actor')), sum(df_sub['gender'].str.contains('Actress'))
df_sub_g = df_sub.copy()
df_sub_g['gender_named'] = None
df_sub_g.loc[df_sub_g['gender'].str.contains('Actor'),'gender_named'] = "M"
df_sub_g.loc[df_sub_g['gender'].str.contains('Actress'),'gender_named'] = "F"
df_sub_g = df_sub_g.rename(columns={'gender':'tag'})
df_sub_g

,id,person,character,movie,name_id,tag,gender_named
0,/name/nm1799971/Rafaella,Marta Hazas,Rafaella,0_My_Fault,nm1799971,Actress/Soundtrack,F
1,/name/nm2338819/Betty,Eve Ryan,Betty,0_My_Fault,nm2338819,Actress,F
2,/name/nm5913850/Noah,Nicole Wallace,Noah,0_My_Fault,nm5913850,Actress,F
3,/name/nm1293644/Padre Noah,Ivan Massagué,Padre Noah,0_My_Fault,nm1293644,Actor/Soundtrack,M
4,/name/nm1107138/Martin,Mariano Venancio,Martin,0_My_Fault,nm1107138,Actor/Soundtrack,M
...,...,...,...,...,...,...,...
49871,/name/nm12663307/Sansarik News Anchor,Pratik Kothari,Sansarik News Anchor,986_Sherni,nm12663307,Actor,M
49872,"/name/nm11655824/WNC 50, News Anchor",Sonia Shrivastava,"WNC 50, News Anchor",986_Sherni,nm11655824,Actress,F
49873,/name/nm12663427/Drone Operator,Sumit Upwanshi,Drone Operator,986_Sherni,nm12663427,Actor,M
49874,/name/nm12663438/Informant on Bike,Monu Garve,Informant on Bike,986_Sherni,nm12663438,Actor,M
49875,/name/nm12663439/Informant on Bike,Sameer Khan,Informant on Bike,986_Sherni,nm12663439,Actor,M

In [12]:
sum(~df_sub_g['gender_named'].isnull())

47501

In [13]:
df_sub_g.to_csv("all_people_gender_parsed.csv", index=False)

In [14]:
df_sides = df_sub[~df_sub['gender'].str.contains('Actor|Actress')]
df_sides

,id,person,character,movie,name_id,gender
25,/name/nm7379431/Self,Seth Breedlove,Self,1000_On_The_Trail_of_UFOS_Dark_Sky,nm7379431,Producer/Director/Editor
32,/name/nm9160910/Self,Mark Matzke,Self,1000_On_The_Trail_of_UFOS_Dark_Sky,nm9160910,Producer/Writer/Additional Crew
133,/name/nm2095817/Mike McAlister,Jody Hill,Mike McAlister,5604_The_Foot_Fist_Way,nm2095817,Producer/Writer/Director
138,/name/nm4259129/Emmanuel,Joseph Stephens,Emmanuel,5604_The_Foot_Fist_Way,nm4259129,Composer/Music Department/Sound Department
166,/name/nm3755774/Ned,Jake Van Wagoner,Ned,1010_Christmas_BreakIn,nm3755774,Director/Producer/Writer
...,...,...,...,...,...,...
49716,/name/nm10867193/Herself,Maria Logan,Herself,4720_Citizen_K,nm10867193,Producer
49719,/name/nm6281092/Himself,Alexei Navalny,Himself,4720_Citizen_K,nm6281092,Director/Writer/Producer
49780,/name/nm3236749/Gunner Walsham,Brock Harris,Gunner Walsham,2791_Wild_Game,nm3236749,Director/Writer/Producer
49800,/name/nm1871490/Robert,Paul Kampf,Robert,3119_Imprisoned__Laurence_Fishburne,nm1871490,Producer/Writer/Director
49867,/name/nm5062265/,Greg Critser,NaN,3178_Prescription_Thugs,nm5062265,Writer

In [18]:
missing_gender = pd.concat([df[df['gender'].isnull()], df_sides])

In [20]:
missing_gender.shape

(2375, 6)

In [21]:
missing_gender.to_csv("missing_gender.csv", index=False)