In [43]:
import pandas as pd

In [44]:
df = pd.read_csv("all_people_gender.csv", encoding_errors='ignore')

In [45]:
df.head()

,id,person,character,movie,name_id,gender
0,/name/nm1799971/Rafaella,Marta Hazas,Rafaella,0_My_Fault,nm1799971,Actress/Soundtrack
1,/name/nm2338819/Betty,Eve Ryan,Betty,0_My_Fault,nm2338819,Actress
2,/name/nm5913850/Noah,Nicole Wallace,Noah,0_My_Fault,nm5913850,Actress
3,/name/nm1293644/Padre Noah,Ivan Massagué,Padre Noah,0_My_Fault,nm1293644,Actor/Soundtrack
4,/name/nm1107138/Martin,Mariano Venancio,Martin,0_My_Fault,nm1107138,Actor/Soundtrack

In [46]:
df.shape

(49260, 6)

In [47]:
sum(df['gender'].isnull())

1397

In [48]:
df_sub = df[~df['gender'].isnull()]

In [49]:
df_sub.shape

(47863, 6)

In [33]:
# sanity check to see that no one is labelled as both Actor and Actress
sum(df_sub[df_sub['gender'].str.contains('Actor')]['gender'].str.contains('Actress'))

0

In [51]:
df_sides = df_sub[~df_sub['gender'].str.contains('Actor|Actress')]
df_sides

,id,person,character,movie,name_id,gender
25,/name/nm7379431/Self,Seth Breedlove,Self,1000_On_The_Trail_of_UFOS_Dark_Sky,nm7379431,Producer/Director/Editor
32,/name/nm9160910/Self,Mark Matzke,Self,1000_On_The_Trail_of_UFOS_Dark_Sky,nm9160910,Producer/Writer/Additional Crew
133,/name/nm2095817/Mike McAlister,Jody Hill,Mike McAlister,5604_The_Foot_Fist_Way,nm2095817,Producer/Writer/Director
138,/name/nm4259129/Emmanuel,Joseph Stephens,Emmanuel,5604_The_Foot_Fist_Way,nm4259129,Composer/Music Department/Sound Department
166,/name/nm3755774/Ned,Jake Van Wagoner,Ned,1010_Christmas_BreakIn,nm3755774,Director/Producer/Writer
...,...,...,...,...,...,...
48893,/name/nm2684350/D Lok,D. Miles,D Lok,5590_Caged_Animal,nm2684350,Producer/Writer/Director
48977,/name/nm0876357/Assistant,Kathleen Tull,Assistant,2850_In_the_Electric_Mist,nm0876357,Second Unit Director or Assistant Director/Pro...
49062,/name/nm0086014/Patrick,Richard Blade,Patrick,5592_Long_Lost_Son,nm0086014,Writer/Producer/Director
49217,/name/nm5501766/Geeky Boy,Bhanu Pratap Singh,Geeky Boy,3679_Humpty_Sharma_Ki_Dulhania,nm5501766,Writer/Director/Second Unit Director or Assist...
49226,/name/nm2571852/Filmmaker,Turner Clay,Filmmaker,5598_The_Blackwell_Ghost,nm2571852,Producer/Director/Editor

In [56]:
missing_gender = pd.concat([df[df['gender'].isnull()], df_sides])

In [57]:
missing_gender.shape

(2347, 6)

In [58]:
missing_gender.to_csv("missing_gender.csv", index=False)