In [1]:
import pandas as pd

In [79]:
df_genderize = pd.read_json('genderize_data.json')

In [80]:
df_genderize.shape

(2374, 5)

In [81]:
df_all_people = pd.read_csv("all_people_gender.csv", encoding_errors='ignore')

In [82]:
merged_df = df_all_people.merge(df_genderize[['name_id', 'gender']], on='name_id')
merged_df_genderize = merged_df.rename(columns={'gender_x': 'tag', 'gender_y': 'gender_named'})
merged_df_genderize['gender_named'] = merged_df_genderize['gender_named'].map({'male': 'M', 'female': 'F'})

merged_df_genderize

,id,person,character,movie,name_id,tag,gender_named
0,/name/nm13818646/Self,Kenneth Scheuvront,Self,1000_On_The_Trail_of_UFOS_Dark_Sky,nm13818646,NaN,M
1,/name/nm10541807/Self,Shannon Legro,Self,1000_On_The_Trail_of_UFOS_Dark_Sky,nm10541807,NaN,F
2,/name/nm7379431/Self,Seth Breedlove,Self,1000_On_The_Trail_of_UFOS_Dark_Sky,nm7379431,Producer/Director/Editor,M
3,/name/nm13818650/Self,Dave Roberts,Self,1000_On_The_Trail_of_UFOS_Dark_Sky,nm13818650,NaN,M
4,/name/nm13818652/Self,Steve Hummel,Self,1000_On_The_Trail_of_UFOS_Dark_Sky,nm13818652,NaN,M
...,...,...,...,...,...,...,...
2369,/name/nm14167562/Self,Tanna Leone,Self,6200_Kendrick_Lamar_Live_The_Big_Steppers_Tour,nm14167562,NaN,F
2370,/name/nm13857139/,Gwen Olson,NaN,3178_Prescription_Thugs,nm13857139,NaN,F
2371,/name/nm13857137/,David Healey,NaN,3178_Prescription_Thugs,nm13857137,NaN,M
2372,/name/nm5062265/,Greg Critser,NaN,3178_Prescription_Thugs,nm5062265,Writer,M
2373,/name/nm7753055/,Ted Lieu,NaN,3178_Prescription_Thugs,nm7753055,NaN,M

### add the genderize data to the parsed gender data

In [95]:
df_all_gender_parsed = pd.read_csv("all_people_gender_parsed.csv", encoding_errors='ignore')

In [96]:
df_all_gender_parsed.head()

,id,person,character,movie,name_id,tag,gender_named
0,/name/nm1799971/Rafaella,Marta Hazas,Rafaella,0_My_Fault,nm1799971,Actress/Soundtrack,F
1,/name/nm2338819/Betty,Eve Ryan,Betty,0_My_Fault,nm2338819,Actress,F
2,/name/nm5913850/Noah,Nicole Wallace,Noah,0_My_Fault,nm5913850,Actress,F
3,/name/nm1293644/Padre Noah,Ivan MassaguÃ©,Padre Noah,0_My_Fault,nm1293644,Actor/Soundtrack,M
4,/name/nm1107138/Martin,Mariano Venancio,Martin,0_My_Fault,nm1107138,Actor/Soundtrack,M

In [97]:
df_all_gender_parsed.shape

(48462, 7)

In [99]:
# we removed the people that didn't have any tags initially in this file
# we didn't remove the ones that didn't have Actor or Actress tag for us to infer the gender
df_first = df_all_gender_parsed[~df_all_gender_parsed['gender_named'].isnull()]

In [100]:
# No matches in the two dataframes
df_first['name_id'].isin(merged_df_genderize['name_id']).sum()

0

In [101]:
df_first.shape

(47501, 7)

In [90]:
all_merged = pd.concat([df_first, merged_df_genderize])

In [103]:
df_all_people.shape, all_merged.shape

((49876, 6), (49875, 7))

In [110]:
# No matches in the two dataframes
df_all_people[~df_all_people['name_id'].isin(all_merged['name_id'])]

,id,person,character,movie,name_id,gender
17656,xst-prd-502,Read the Book,Deenie by Judy Blume,1608_Judy_Blume_Forever,NaN,NaN

In [113]:
all_merged['name_id'].duplicated().sum()

0

In [114]:
all_merged.to_csv("all_people_gender_merged.csv", index=False)