In [1]:
import pandas as pd

In [18]:
df = pd.read_json("crew_genderize_data.json", dtype={"name_id": str})

In [19]:
df.head()

    count    name  gender  probability  name_id
0    3308   Devon    male         0.79  1329505
1   18372  Morgan    male         0.79  1439900
2  115901  Gerald    male         1.00  2825311
3   62441   Kelly  female         0.89  0284182
4  698532     Tom    male         1.00  4905404

In [36]:
df_dup = df[~df['name_id'].duplicated()]
# df_dup = df_dup[~df_dup['gender'].isnull()]

In [37]:
df_dup['gender'].isnull().sum()

4789

In [38]:
df_dup.shape

(319325, 5)

In [39]:
df_dup.to_csv("crew_genderize_data.csv", index=False)