In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("movies_support_crew_with_manual.csv", dtype=str)

In [3]:
df.head()

,movie_id,file,role,person_id,name,long_canonical_name,headshot
0,2113683,4513_I_Know_That_Voice,cast,0012121,Charlie Adler,"Adler, Charlie",https://m.media-amazon.com/images/M/MV5BMjE0OT...
1,2113683,4513_I_Know_That_Voice,cast,0781899,Pamela Adlon,"Adlon, Pamela",https://m.media-amazon.com/images/M/MV5BMTc2OT...
2,2113683,4513_I_Know_That_Voice,cast,0016141,Carlos Alazraqui,"Alazraqui, Carlos",https://m.media-amazon.com/images/M/MV5BMTQyMT...
3,2113683,4513_I_Know_That_Voice,cast,0029460,Jack Angel,"Angel, Jack",https://m.media-amazon.com/images/M/MV5BNjM1Nz...
4,2113683,4513_I_Know_That_Voice,cast,0000799,Edward Asner,"Asner, Edward",https://m.media-amazon.com/images/M/MV5BMTk0MD...

In [4]:
df_in = pd.read_csv("../../../7_imdb_validation/validation_helper/final_validated_metadata.csv", dtype={"movie_id": str})
df_in = df_in[~df_in['movie_id'].isna()]
df_sub = df_in[~df_in['movie_id'].duplicated()]
df_sub.shape

(3374, 7)

In [5]:
len(df['movie_id'].unique())

3374

In the final validated movie file, there are no duplicates or null movie ids.

In [6]:
sum(df['person_id'].duplicated()), df.shape

(256842, (644969, 7))

In [7]:
df_dup = df[~df['person_id'].duplicated()]

In [10]:
df_dup

,movie_id,file,role,person_id,name,long_canonical_name,headshot
0,2113683,4513_I_Know_That_Voice,cast,0012121,Charlie Adler,"Adler, Charlie",https://m.media-amazon.com/images/M/MV5BMjE0OT...
1,2113683,4513_I_Know_That_Voice,cast,0781899,Pamela Adlon,"Adlon, Pamela",https://m.media-amazon.com/images/M/MV5BMTc2OT...
2,2113683,4513_I_Know_That_Voice,cast,0016141,Carlos Alazraqui,"Alazraqui, Carlos",https://m.media-amazon.com/images/M/MV5BMTQyMT...
3,2113683,4513_I_Know_That_Voice,cast,0029460,Jack Angel,"Angel, Jack",https://m.media-amazon.com/images/M/MV5BNjM1Nz...
4,2113683,4513_I_Know_That_Voice,cast,0000799,Edward Asner,"Asner, Edward",https://m.media-amazon.com/images/M/MV5BMTk0MD...
...,...,...,...,...,...,...,...
644962,3726322,2580_It_Never_Sleeps,editorial department,4995023,Mdhamiri Á Nkemi,"Nkemi, Mdhamiri Á",NaN
644964,3726322,2580_It_Never_Sleeps,miscellaneous crew,9196204,Jon Anderson,"Anderson, Jon",NaN
644966,3726322,2580_It_Never_Sleeps,miscellaneous crew,6538683,Harry Gadd,"Gadd, Harry",NaN
644967,3726322,2580_It_Never_Sleeps,miscellaneous crew,6538684,Patricia Muckle,"Muckle, Patricia",NaN
644968,3726322,2580_It_Never_Sleeps,miscellaneous crew,2928951,George Tsikos,"Tsikos, George",NaN

In [13]:
df_dup[~df_dup['name'].duplicated()].to_csv("all_support_crew_with_unique_names.csv", index=False)

In [9]:
df_eth = pd.read_csv("../ethnicity_unique_names_movies_support_crew.csv", encoding="utf-8", dtype=str)

In [40]:
df_eth.head()

,2PRACE,Hispanic,API,Black,AIAN,White,person_id,name
0,0.0004397593402373635,0.0017234620741103195,0.000701243243587646,0.04742280646561268,0.0019146228504846876,0.9477981060259673,1329505,Devon Bowman
1,0.00019053485184474382,0.0009057924236982357,0.00027725071750165313,0.0006166609758333718,0.0006668833161314149,0.9973428777149906,1439900,Morgan Gerhard
2,0.0004035530841650152,0.002867911822994444,0.0019120517281026761,0.024686545822272084,0.0010849856387335887,0.9690449519037322,2825311,Gerald Burke
3,0.0002495800477448197,0.0014816834072511281,0.00180762461012521,0.007147823860306688,0.00045631483557485175,0.9888569732389972,0284182,Kelly Ann Foley
4,0.0002970944716706766,0.0010258410365129374,0.001375298229598634,0.0073219757269283635,0.0011008716594015685,0.9888789188758879,4905404,Tom Lawless

In [41]:
filtered = ("nm" + df_dup['person_id']).isin("nm" + df_eth['person_id'])

In [42]:
df_rem = df_dup[~filtered]

In [43]:
df_rem.shape

(90224, 7)

unique_movies_support_crew.csv has all support crew after removing duplicated person IDs and names already present in our cast list.

In [44]:
df_rem.to_csv("unique_movies_support_crew_with_manual.csv", index=False)

In [45]:
df_dup_name = df_rem[~df_rem['name'].duplicated()]

In [49]:
df_rem['name'].duplicated().sum()

10070

In [46]:
sum(df_dup_name['name'].isin(df_eth['name']))

9837

We further remove the duplicated names of different people to reduce data.

In [47]:
unique_names = df_dup_name[~df_dup_name['name'].isin(df_eth['name'])]

In [48]:
unique_names.shape

(70317, 7)

In [50]:
unique_names.to_csv("unique_names_movies_support_crew_with_manual.csv", index=False)