In [1]:
import pandas as pd

In [2]:
df_eth = pd.read_csv("../ethnicity_unique_names_movies_support_crew.csv", encoding="utf-8", dtype=str)

In [3]:
df_eth_manual = pd.read_csv("./ethnicity_unique_names_movies_support_crew_with_manual.csv", dtype=str)

In [4]:
df_merged = pd.concat([df_eth, df_eth_manual])

In [5]:
df_merged.shape, df_eth.shape, df_eth_manual.shape

((368220, 8), (297903, 8), (70317, 8))

In [6]:
df_merged['person_id'].duplicated().sum()

0

In [13]:
df_merged['name'].duplicated().sum()

0

In [17]:
df_eth_manual[df_eth_manual['person_id'] == '4214180']

,2PRACE,Hispanic,API,Black,AIAN,White,person_id,name
27964,0.0010314836337072682,0.002091486540210817,0.9765323780573033,0.000983997347611939,8.762073247229018e-05,0.019273033688694315,4214180,Yong-goo Do

In [8]:
df_crew = pd.read_csv("./movies_support_crew_with_manual.csv", dtype=str)

In [9]:
df_crew.head()

,movie_id,file,role,person_id,name,long_canonical_name,headshot
0,2113683,4513_I_Know_That_Voice,cast,0012121,Charlie Adler,"Adler, Charlie",https://m.media-amazon.com/images/M/MV5BMjE0OT...
1,2113683,4513_I_Know_That_Voice,cast,0781899,Pamela Adlon,"Adlon, Pamela",https://m.media-amazon.com/images/M/MV5BMTc2OT...
2,2113683,4513_I_Know_That_Voice,cast,0016141,Carlos Alazraqui,"Alazraqui, Carlos",https://m.media-amazon.com/images/M/MV5BMTQyMT...
3,2113683,4513_I_Know_That_Voice,cast,0029460,Jack Angel,"Angel, Jack",https://m.media-amazon.com/images/M/MV5BNjM1Nz...
4,2113683,4513_I_Know_That_Voice,cast,0000799,Edward Asner,"Asner, Edward",https://m.media-amazon.com/images/M/MV5BMTk0MD...

In [43]:
# df_merged_crew = df_crew.merge(df_merged.drop("person_id", axis=1), on='name', how='left')
# df_merged_crew_filled = df_merged_crew.fillna(df_eth_manual.set_index('name'))
# df_merged_crew_filled

# Merge based on 'person_id'
id_merge = df_crew.merge(df_merged.drop("name", axis=1), on='person_id', how='left')
name_merge = df_crew.merge(df_merged.drop("person_id", axis=1), on='name', how='left')

In [46]:
id_merge['2PRACE'].isna().sum(), name_merge['2PRACE'].isna().sum()

(27249, 21)

In [50]:
name_merge.shape, id_merge.shape

((644969, 13), (644969, 13))

In [51]:
for col in ['2PRACE', 'Hispanic', 'API', 'Black', 'AIAN', 'White']:
    id_merge[col] = id_merge[col].combine_first(name_merge[col])

In [53]:
id_merge['2PRACE'].isna().sum()

0

In [55]:
id_merge[id_merge['person_id'] == '1212153']

,movie_id,file,role,person_id,name,long_canonical_name,headshot,2PRACE,Hispanic,API,Black,AIAN,White
134290,11987082,3535_Paagal,thanks,1212153,Sivaji,Sivaji,NaN,5.731435136919907e-07,3.031929187430631e-05,0.867024387380741,2.2524540088095232e-05,1.1462870273839814e-06,0.13292104935675547
324105,7805494,3051_V_Telugu,cast,1212153,Sivaji\r\n \r\n \r\n ...,"episode, Sivaji\r\n \r\n \r\...",https://m.media-amazon.com/images/M/MV5BMzk0MW...,5.731435136919907e-07,3.031929187430631e-05,0.867024387380741,2.2524540088095232e-05,1.1462870273839814e-06,0.13292104935675547

In [56]:
unmatched_rows = id_merge[id_merge.drop("headshot", axis=1).isnull().any(axis=1)]
unmatched_rows

Empty DataFrame
Columns: [movie_id, file, role, person_id, name, long_canonical_name, headshot, 2PRACE, Hispanic, API, Black, AIAN, White]
Index: []

In [57]:
id_merge

,movie_id,file,role,person_id,name,long_canonical_name,headshot,2PRACE,Hispanic,API,Black,AIAN,White
0,2113683,4513_I_Know_That_Voice,cast,0012121,Charlie Adler,"Adler, Charlie",https://m.media-amazon.com/images/M/MV5BMjE0OT...,0.0003791493558141442,0.004028159965422246,0.002948061788088118,0.0014853414308007712,0.0003638633244289737,0.9907954241354457
1,2113683,4513_I_Know_That_Voice,cast,0781899,Pamela Adlon,"Adlon, Pamela",https://m.media-amazon.com/images/M/MV5BMTc2OT...,0.00016229024615924882,0.008780870928979985,0.003105828935275198,0.013599195324743239,0.0005266409979604417,0.9738251735668818
2,2113683,4513_I_Know_That_Voice,cast,0016141,Carlos Alazraqui,"Alazraqui, Carlos",https://m.media-amazon.com/images/M/MV5BMTQyMT...,0.00028741778834684336,0.5850444253544991,0.00926526090279111,0.008216561584701094,0.000936954355268692,0.3962493800143933
3,2113683,4513_I_Know_That_Voice,cast,0029460,Jack Angel,"Angel, Jack",https://m.media-amazon.com/images/M/MV5BNjM1Nz...,0.0004429278807594805,0.055670210334570217,0.009624638861322256,0.011203545637844781,0.001461365121574873,0.9215973121639284
4,2113683,4513_I_Know_That_Voice,cast,0000799,Edward Asner,"Asner, Edward",https://m.media-amazon.com/images/M/MV5BMTk0MD...,6.064218678774983e-05,0.0024106095500817386,0.001584809684461344,0.003809807328995229,0.0016577832147546153,0.9904763480349194
...,...,...,...,...,...,...,...,...,...,...,...,...,...
644964,3726322,2580_It_Never_Sleeps,miscellaneous crew,9196204,Jon Anderson,"Anderson, Jon",NaN,0.0004742130593430362,0.002511315294553805,0.001812386390648068,0.0435861157252399,0.001572079510532787,0.9500438900196825
644965,3726322,2580_It_Never_Sleeps,miscellaneous crew,5274081,Ric Crossley,"Crossley, Ric",NaN,0.0007941670788681925,0.005419533191862647,0.0031838742781688492,0.03839277819759911,0.0024256393730785492,0.9497840078804227
644966,3726322,2580_It_Never_Sleeps,miscellaneous crew,6538683,Harry Gadd,"Gadd, Harry",NaN,0.00047279853707243543,0.0018119664135041258,0.007429932623627976,0.005593074483875149,0.001107519397315787,0.9835847085446046
644967,3726322,2580_It_Never_Sleeps,miscellaneous crew,6538684,Patricia Muckle,"Muckle, Patricia",NaN,0.0005602276403970595,0.010957889549922141,0.0005086851693280298,0.13905133154553878,0.0002963433201626137,0.8486255227746513
644968,3726322,2580_It_Never_Sleeps,miscellaneous crew,2928951,George Tsikos,"Tsikos, George",NaN,0.00021434973315080506,0.012248999695322524,0.0056008320353843274,0.012977625555455135,0.0005652820122996983,0.9683929109683875

In [58]:
id_merge.to_csv("all_support_crew_with_ethnicity.csv", index=False)