In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("movies_support_crew.csv", dtype=str)

In [3]:
df.head()

,movie_id,file,role,person_id,name,long_canonical_name,headshot
0,2113683,4513_I_Know_That_Voice,cast,0012121,Charlie Adler,"Adler, Charlie",https://m.media-amazon.com/images/M/MV5BMjE0OT...
1,2113683,4513_I_Know_That_Voice,cast,0781899,Pamela Adlon,"Adlon, Pamela",https://m.media-amazon.com/images/M/MV5BMTc2OT...
2,2113683,4513_I_Know_That_Voice,cast,0016141,Carlos Alazraqui,"Alazraqui, Carlos",https://m.media-amazon.com/images/M/MV5BMTQyMT...
3,2113683,4513_I_Know_That_Voice,cast,0029460,Jack Angel,"Angel, Jack",https://m.media-amazon.com/images/M/MV5BNjM1Nz...
4,2113683,4513_I_Know_That_Voice,cast,0000799,Edward Asner,"Asner, Edward",https://m.media-amazon.com/images/M/MV5BMTk0MD...

In [4]:
df_in = pd.read_csv("../movies_with_ids.csv", dtype={"movie_id": str})
df_in = df_in[~df_in['movie_id'].isna()]
df_sub = df_in[~df_in['movie_id'].duplicated()]
df_sub.shape

(3028, 15)

In [5]:
len(df['movie_id'].unique())

3028

The movie ids are the same so after removing nulls and duplicated ids, we get crew info for all remaining movies.

In [6]:
sum(df['person_id'].duplicated()), df.shape

(230720, (592778, 7))

In [7]:
df_dup = df[~df['person_id'].duplicated()]

In [8]:
df_dup

,movie_id,file,role,person_id,name,long_canonical_name,headshot
0,2113683,4513_I_Know_That_Voice,cast,0012121,Charlie Adler,"Adler, Charlie",https://m.media-amazon.com/images/M/MV5BMjE0OT...
1,2113683,4513_I_Know_That_Voice,cast,0781899,Pamela Adlon,"Adlon, Pamela",https://m.media-amazon.com/images/M/MV5BMTc2OT...
2,2113683,4513_I_Know_That_Voice,cast,0016141,Carlos Alazraqui,"Alazraqui, Carlos",https://m.media-amazon.com/images/M/MV5BMTQyMT...
3,2113683,4513_I_Know_That_Voice,cast,0029460,Jack Angel,"Angel, Jack",https://m.media-amazon.com/images/M/MV5BNjM1Nz...
4,2113683,4513_I_Know_That_Voice,cast,0000799,Edward Asner,"Asner, Edward",https://m.media-amazon.com/images/M/MV5BMTk0MD...
...,...,...,...,...,...,...,...
592757,0065126,5659_True_Grit_1969,stunt performer,0314104,Fred Gerber,"Gerber, Fred",NaN
592760,0065126,5659_True_Grit_1969,stunt performer,0430114,Monty Jordan,"Jordan, Monty",NaN
592765,0065126,5659_True_Grit_1969,camera and electrical department,0689492,Paul M. Pollard,"Pollard, Paul M.",NaN
592767,0065126,5659_True_Grit_1969,camera and electrical department,0949601,Harry Young,"Young, Harry",NaN
592769,0065126,5659_True_Grit_1969,costume department,6491446,Jane Bockstruck,"Bockstruck, Jane",NaN

In [10]:
all_people_cast = pd.read_csv("../all_people.csv")

In [11]:
all_people_cast

,id,person,character,movie,name_id
0,/name/nm1799971/Rafaella,Marta Hazas,Rafaella,0_My_Fault,nm1799971
1,/name/nm2338819/Betty,Eve Ryan,Betty,0_My_Fault,nm2338819
2,/name/nm5913850/Noah,Nicole Wallace,Noah,0_My_Fault,nm5913850
3,/name/nm1293644/Padre Noah,Ivan MassaguÃ©,Padre Noah,0_My_Fault,nm1293644
4,/name/nm1107138/Martin,Mariano Venancio,Martin,0_My_Fault,nm1107138
...,...,...,...,...,...
49871,/name/nm5110271/Courthouse Reporter,Phil Biedron,Courthouse Reporter,9_Till,nm5110271
49872,/name/nm8032581/Ruby Hurley,Princess Elmore,Ruby Hurley,9_Till,nm8032581
49873,/name/nm1615964/Sheriff Strider,Brendan Patrick Connor,Sheriff Strider,9_Till,nm1615964
49874,/name/nm0002694/James Hicks,Leland L. Jones,James Hicks,9_Till,nm0002694
49875,/name/nm4131598/S. Carlton,Josh Ventura,S. Carlton,9_Till,nm4131598

In [14]:
filtered = ("nm" + df_dup['person_id']).isin(all_people_cast['name_id'])

In [21]:
df_rem = df_dup[~filtered]

unique_movies_support_crew.csv has all support crew after removing duplicated person IDs and names already present in our cast list.

In [22]:
df_rem.to_csv("unique_movies_support_crew.csv", index=False)

In [30]:
df_dup_name = df_rem[~df_rem['name'].duplicated()]

In [31]:
sum(df_dup_name['name'].isin(all_people_cast['person']))

2911

We further remove the duplicated names of different people to reduce data.

In [36]:
unique_names = df_dup_name[~df_dup_name['name'].isin(all_people_cast['person'])]

In [37]:
unique_names.shape

(297903, 7)

In [38]:
unique_names.to_csv("unique_names_movies_support_crew.csv", index=False)