### Finalize Crew Data by Filtering

This notebook filters out the cast and support crew data for movies in our finalized metadata.

In [4]:
import pandas as pd
import os

In [1]:
import shutil

source_file = "../data/6_character_metadata/all_metadata_finalized.csv"
destination_dir = "../data/finalized_data/all_metadata_finalized.csv"

shutil.copy(source_file, destination_dir)

'../data/finalized_data/all_metadata_finalized.csv'

In [3]:
df = pd.read_csv("../data/6_character_metadata/all_metadata_finalized.csv", dtype={"imdb_id": str})

In [4]:
df.head()

,title,imdb_id,file,dir,synopsis,year,link
0,My Fault,21909764,0_My_Fault,com,"Noah must leave her town, boyfriend and friend...",2023.0,/My-Fault-Nicole-Wallace/dp/B0B683GB78/ref=sr_...
1,On The Trail of UFOS: Dark Sky,14928972,1000_On_The_Trail_of_UFOS_Dark_Sky,com,On the Trail of UFOs: Dark Sky traces decades ...,2021.0,/Trail-UFOS-Dark-Sky/dp/B09BKF2WGQ/ref=sr_1_24...
2,Student Of The Year,2172071,1001_Student_Of_The_Year,com,"Introducing Alia Bhatt (Sharanya Singhania), S...",2012.0,/Student-Year-Sidharth-Malhotra/dp/B0BZTD87WK/...
3,"The Badge, The Bible and Bigfoot",11208026,1005_The_Badge_The_Bible_and_Bigfoot,com,"In a small coastal town Bigfoot is sighted, an...",2019.0,/Badge-Bible-Bigfoot-Ashley-Wright/dp/B09JMYV8...
4,Sharknado 5: Global Swarming,6298780,1009_Sharknado_5_Global_Swarming,com,"With much of North America lying in ruins, the...",2017.0,/Sharknado-Global-Swarming-Ian-Ziering/dp/B07M...

Read people file and subset

In [5]:
df_people = pd.read_csv("../data/6_character_metadata/all_people_with_duplicates.csv")

In [6]:
df_people.head()

     name_id            person   character        file
0  nm1799971       Marta Hazas    Rafaella  0_My_Fault
1  nm2338819          Eve Ryan       Betty  0_My_Fault
2  nm5913850    Nicole Wallace        Noah  0_My_Fault
3  nm1293644    Ivan MassaguÃ©  Padre Noah  0_My_Fault
4  nm1107138  Mariano Venancio      Martin  0_My_Fault

In [8]:
df_people['file'].nunique(), df.shape

(3570, (3265, 7))

In [10]:
filtered_people = df_people[df_people['file'].isin(df['file'])]

In [12]:
filtered_people['file'].nunique()

3265

In [18]:
filtered_people.to_csv("../data/finalized_data/final_all_cast_with_duplicates.csv", index=False)

Read support crew file and subset

In [19]:
df_imdb = pd.read_csv("../data/6_character_metadata/movies_support_crew_with_manual.csv", dtype=str)

In [20]:
df_imdb.head()

,imdb_id,file,role,name_id,person,long_canonical_name,headshot
0,2113683,4513_I_Know_That_Voice,cast,nm0012121,Charlie Adler,"Adler, Charlie",https://m.media-amazon.com/images/M/MV5BMjE0OT...
1,2113683,4513_I_Know_That_Voice,cast,nm0781899,Pamela Adlon,"Adlon, Pamela",https://m.media-amazon.com/images/M/MV5BMTc2OT...
2,2113683,4513_I_Know_That_Voice,cast,nm0016141,Carlos Alazraqui,"Alazraqui, Carlos",https://m.media-amazon.com/images/M/MV5BMTQyMT...
3,2113683,4513_I_Know_That_Voice,cast,nm0029460,Jack Angel,"Angel, Jack",https://m.media-amazon.com/images/M/MV5BNjM1Nz...
4,2113683,4513_I_Know_That_Voice,cast,nm0000799,Edward Asner,"Asner, Edward",https://m.media-amazon.com/images/M/MV5BMTk0MD...

In [21]:
df_imdb_filtered = df_imdb[df_imdb['file'].isin(df['file'])]

In [22]:
df_imdb_filtered['file'].nunique()

3265

In [23]:
df_imdb_filtered.to_csv("../data/finalized_data/final_movies_support_crew.csv", index=False)