In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('validated_file.csv', header=None)

In [3]:
df.head()

,0,1,2,3,4,5
0,147800.0,10 Things I Hate About You,1,NaN,https://imsdb.com/scripts/10-Things-I-Hate-Abo...,NaN
1,417385.0,12 and Holding,1,NaN,https://imsdb.com/scripts/12-and-Holding.html,NaN
2,3148266.0,12 Monkeys,0,114746.0,https://imsdb.com/scripts/12-Monkeys.html,Given id is tv show
3,2024544.0,12 Years a Slave,1,NaN,https://imsdb.com/scripts/12-Years-a-Slave.html,NaN
4,1542344.0,127 Hours,1,NaN,https://imsdb.com/scripts/127-Hours.html,NaN

In [4]:
df.loc[:,2].value_counts()

2
1    1413
0     240
Name: count, dtype: int64