In [1]:
import pandas as pd

In [7]:
top = pd.read_csv("all_movie_decades.csv")

In [8]:
top

                Movie Title decade          id
0               Intolerance  1910s   tt0006864
1     The Birth of a Nation  1910s   tt0004972
2                   Cabiria  1910s   tt0003740
3         Behind the Screen  1910s   tt0006414
4              The Gardener  1910s   tt0002544
...                     ...    ...         ...
1134       See How They Run  2020s  tt13640696
1135          Violent Night  2020s  tt12003946
1136                Reptile  2020s  tt13274016
1137           Gran Turismo  2020s   tt4495098
1138         Dune: Part Two  2020s  tt15239678

[1139 rows x 3 columns]

In [9]:
sc = pd.read_csv("../data/8_screenplays/3_character_matching/movies_with_high_coverage_and_matching/meta_imdb_and_stats.csv", dtype=str)

In [12]:
sc = sc[["imdb", "title"]]

In [20]:
for group in top.groupby("decade"):
    decade = group[0]
    df = group[1]

    commons = df['id'].isin('tt' + sc['imdb']).sum()
    print(decade, commons)

1910s 0
1920s 0
1930s 7
1940s 9
1950s 18
1960s 11
1970s 25
1980s 25
1990s 49
2000s 50
2010s 46
2020s 4

In [21]:
sc_meta = pd.read_csv("../data/8_screenplays/2_metadata/validated_movies.csv", dtype=str)

In [25]:
sc_meta = sc_meta[['imdbID', 'title', 'year']]

In [31]:
sc_meta['decade'] = (sc_meta['year'].astype(int) // 10 * 10)

C:\Users\safal\AppData\Local\Temp\ipykernel_10272\1272775012.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sc_meta['decade'] = (sc_meta['year'].astype(int) // 10 * 10)

In [38]:
sc_meta_f = sc_meta[sc_meta['imdbID'].isin(sc['imdb'])]

In [55]:
sc_meta_f.groupby("decade").size()

decade
1930     11
1940     22
1950     24
1960     23
1970     59
1980    124
1990    333
2000    390
2010    362
2020     19
dtype: int64

In [52]:
# groupby decade then get the unique year values in each group, then sort the list of years
sc_meta_f.groupby("decade")['year'].unique().apply(lambda x: sorted(x)).values

array([list(['1930', '1931', '1932', '1933', '1934', '1938', '1939']),
       list(['1940', '1941', '1943', '1944', '1945', '1946', '1948', '1949']),
       list(['1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959']),
       list(['1960', '1961', '1962', '1963', '1964', '1965', '1967', '1968', '1969']),
       list(['1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979']),
       list(['1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989']),
       list(['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999']),
       list(['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009']),
       list(['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']),
       list(['2020', '2021', '2023'])], dtype=object)

In [53]:
sc_meta_f.groupby("decade")['year'].nunique()

decade
1930     7
1940     8
1950    10
1960     9
1970    10
1980    10
1990    10
2000    10
2010    10
2020     3
Name: year, dtype: int64